@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik+Moonrocks&display=swap");
:root {
  --headerfont: "Rubik Moonrocks";
  --normalFont: "Poppins", sans-serif;
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  --box-shadow-sm: 0 0.125rem 0.25rem rgba(black, 0.075) !important;
  --box-shadow-lg: 0 1rem 3rem rgba(black, 0.175) !important;
  --transform: all ease-in-out 0.1s;
}

.header-text {
  font-family: var(--headerfont);
  color: blue;
}
